.brand-one__carousel {
    padding: 107.5px 0;

    .item {
        img {
            @media(min-width: 991px) {
                width: auto;
                max-width: none;
                margin-left: auto;
                margin-right: auto;
            }

            opacity: .3;
            transition: all .4s ease;

            &:hover {
                opacity: .6;
            }
        }
    }

    .owl-dots,
    .owl-nav {
        display: none;
    }
}